# -*- coding: utf-8 -*-
NETBOX = {
	'API_URL': 'https://demo.netbox.de/api/',
	'API_TOKEN': 'testtoken',
        'MANUFACTURER_SLUGS': {
                'dell',
        }
}

DELL = {
	'API_URL': 'https://sandbox.api.dell.com/',
	'API_KEY': '',
}
